
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
<br><br><br><br><br><br>
             <img align="middle" class= "logo" src= "/img/rovercart.png" alt= "Rover.logo">
<br><br><br>
              <span class="intro-text">{{ content }}</span>
              <h1 class="brand-heading">&nbsp;</h1>
              <h5>&nbsp;</h5>
              <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
            </a>
              <div class="button-wrapper">
  <a class="button cta-button" href="#">Learn More</a>
</div>
          </div>
        </div>
    </div>
  </div>
</header>

<style>
  .button-wrapper {
  display: block;
  text-align: center;
}
  
  .button {
  border: 2px;
  border-radius: 1em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: inline-block;
  font-size: 2em;
  padding: 1em 2em;
  width: auto;
}
  
  .cta-button {
  background-color: blue;
  color: white;
}

.cta-button:hover {
  background-color: yellow;
}
</style>
  
  
<!-- Intro End -->
